<ul>
  <% @spaces.each do |space| %>
    <li>
      <h2><%=space.name%></h2>
      <br>
      <%=space.description%>
      <br>
      <%="£#{space.price} per night" %>
    </li>
  <% end %>
</ul>

<form method="get" action="/spaces/new">
  <input type="submit" id="make_new_space" value="Make New Space">
</form>
