<form action="/spaces/new" method="post">
  <label for="name">Space name:</label>
  <input type="text" name="name"></input>
  <label for="description">Space description:</label>
  <input type="text" name="description"></input>
  <input type="submit" value="submit" id="submit"></input>
</form>
